body {
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 288px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

.delivery {
  padding-bottom: 60px;
  display: block;
}

.delivery-title {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 32px;
}

.delivery-title::after {
  content: "";
  display: inline-block;
  width: 100%;
  border: 1px solid #000000;
}

.delivery-list {
  margin-bottom: 32px;
}

.delivery-item {
  display: flex;
  margin-bottom: 20px;
}

.delivery-item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 8px 14px 8px 14px;
}

.delivery-item-custom {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  margin-left: 8px;
  padding-right: 8px;
}

.img-delivery {
  text-align: center;
  /* width: 100vw; */
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 288px;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .delivery {
    padding-bottom: 100px;
  }

  .delivery-title {
    font-size: 44px;
    margin-bottom: 60px;
  }

  .delivery-list {
    margin-bottom: 40px;
  }

  .delivery-item-number {
    font-size: 26px;
    width: 64px;
    height: 64px;
    padding: 16px 24px 16px 24px;
  }

  .delivery-item-custom {
    font-size: 24px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1232px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
  }

  .delivery-item-number {
    margin-left: 72px;
    width: 64px;
    height: 64px;
    padding: 16px 24px 16px 24px;
  }

  .delivery-item-custom {
    font-size: 32px;
    margin-left: 52px;
    padding-right: 185px;
  }
}

/* 
===============
blog
=============== */
.blog {
  padding-bottom: 60px;
  display: block;
}

.blog-title {
  display: flex;
  align-items: center;
  gap: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 32px;
}

.blog-title::after {
  content: "";
  display: inline-block;
  width: 100%;
  border: 1px solid #000000;
}

.img-blog-wrap {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 26px;
}

.img-blog-3 {
  display: none;
}

.blog-follow {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}

.btn-follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px 28px;
  gap: 10px;
  width: 170px;
  height: 40px;
  background: #e86f54;
  border-radius: 38px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.btn-follow:focus {
  background-color: #fa6f54;
  box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
}

.btn-follow:hover {
  background: #e25b41;
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 288px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .blog {
    padding-bottom: 100px;
  }

  .blog-title {
    font-size: 44px;
    line-height: 1.22;
    margin-bottom: 60px;
  }

  .img-blog-wrap {
    gap: 32px;
    margin-bottom: 35px;
  }

  .blog-follow {
    font-size: 32px;
    line-height: 1.21;
    margin-bottom: 32px;
  }

  .btn-follow {
    padding: 20px 69px;
    width: 280px;
    height: 64px;
    font-weight: 500;
    font-size: 28px;
    line-height: 0.85px;
  }

  .btn-follow:focus {
    background: #fa6f54;
    box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
  }

  .btn-follow:hover {
    background: #e25b41;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1232px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .blog-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.22px;
    margin-bottom: 122px;
  }

  .img-blog-wrap {
    gap: 31px;
    margin-bottom: 45px;
  }

  .img-blog-3 {
    display: block;
  }

  .blog-follow {
    font-size: 32px;
    line-height: 1.21;
    margin-bottom: 32px;
  }
}
